/*------------------------------------------------------------------
[Style Index]

0. Custom Resets and utilities
1. Navigation Bar
2. Main Slider
3. Card styling
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[0. Custom Reset and utilities]

Reseting styles for individual elements
-------------------------------------------------------------------*/
/* line 16, main.scss */
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 23, main.scss */
.wrapper {
  max-width: 1367px;
  margin: 0px auto;
  position: relative;
  width: 100%;
}

/* line 30, main.scss */
a {
  text-decoration: none;
}

/* line 34, main.scss */
.hide {
  display: none;
}

/* line 38, main.scss */
.center {
  text-align: center;
}

/* line 42, main.scss */
.depth {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/*------------------------------------------------------------------
[1. Navigation Bar]


-------------------------------------------------------------------*/
/* line 53, main.scss */
.navbar {
  width: 100%;
  height: 10vh;
  background-color: white;
  position: relative;
}
/* line 58, main.scss */
.navbar .logo {
  position: absolute;
  top: 20%;
  padding-left: 3%;
  max-width: 250px;
  width: 95%;
}

/*------------------------------------------------------------------
[2. Main Slider]


-------------------------------------------------------------------*/
/* line 74, main.scss */
.slider {
  height: 90vh;
  width: 100%;
  position: relative;
}
/* line 78, main.scss */
.slider .img-container {
  position: relative;
}
/* line 80, main.scss */
.slider .img-container .main-img {
  width: 100%;
  height: 90vh;
}
/* line 85, main.scss */
.slider .slider-arrow {
  position: absolute;
  top: 45%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 5px 0;
  margin: 0 5px;
}
/* line 93, main.scss */
.slider .slider-arrow:hover {
  background: rgba(220, 220, 220, 0.8);
}
/* line 97, main.scss */
.slider .slider-right {
  right: 0;
}
/* line 100, main.scss */
.slider .img-container .headline {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  text-align: center;
  vertical-align: middle;
  line-height: 90vh;
  color: white;
  font-weight: 600;
  font-size: 3em;
}
/* line 114, main.scss */
.slider .img-container .headline span {
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.7);
  padding: 2.3% 1.8%;
  width: 100%;
  border-radius: 15px;
}
/* line 122, main.scss */
.slider .search-container {
  position: relative;
  width: 100%;
}
/* line 125, main.scss */
.slider .search-container .search-button {
  position: absolute;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  top: -80px;
  width: 7%;
  height: 40px;
  padding: 0;
  left: 61%;
}
/* line 138, main.scss */
.slider .search-container .search-button:hover {
  background: rgba(0, 0, 0, 0.95);
}
/* line 141, main.scss */
.slider .search-container .search-button:disabled {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 145, main.scss */
.slider .search-container .alert-box {
  font-size: 1.3em;
  position: absolute;
  top: -180px;
  width: 50%;
  height: 55px;
  left: 25%;
  padding-left: 65px;
  border-radius: 20px;
  line-height: 55px;
  background-color: #ce1310;
  opacity: 0.95;
  white-space: nowrap;
  color: white;
  font-weight: 600;
}
/* line 161, main.scss */
.slider .search-container .cancel {
  position: absolute;
  top: -180px;
  left: 26.3%;
  padding-top: 10px;
  z-index: 2;
}
/* line 168, main.scss */
.slider .search-container .search-bar {
  position: absolute;
  top: -90px;
  width: 20%;
  left: 40%;
  height: 56px;
  line-height: 56px;
  font-size: 1.2em;
  padding-left: 2%;
  background: transparent;
  background: rgba(255, 255, 255, 0.7);
  background-clip: padding-box;
  border: 2px solid #7E8386;
  border-radius: 26px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.3);
  color: #000;
  font-weight: 600;
  outline: none;
  transition: all .25s linear;
}
/* line 187, main.scss */
.slider .search-container .search-bar::-webkit-input-placeholder {
  color: #7E8386;
}
/* line 190, main.scss */
.slider .search-container .search-bar:focus {
  left: 30%;
  width: 40%;
  border: none;
  background: transparent;
  background: rgba(255, 255, 255, 0.89);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 40px rgba(255, 255, 255, 0.5);
}
/* line 198, main.scss */
.slider .search-container .search-bar:hover {
  left: 30%;
  width: 40%;
  border: none;
  background: transparent;
  background: rgba(255, 255, 255, 0.89);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 40px rgba(255, 255, 255, 0.5);
}

/*------------------------------------------------------------------
[3. Card Styling]


-------------------------------------------------------------------*/
/* line 217, main.scss */
.card-list {
  display: none;
  margin-top: 20px;
}
/* line 218, main.scss */
.card-list .card {
  height: 370px;
  width: 280px;
  border: 6px solid #f2f2f2;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  transition-property: all;
  transition-duration: .5s;
  display: inline-block;
}
/* line 229, main.scss */
.card-list .card:hover {
  box-shadow: 0 0 15px #e2e2e2;
  cursor: pointer;
}
/* line 233, main.scss */
.card-list .card .card-img {
  display: block;
  height: 180px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}
/* line 239, main.scss */
.card-list .card .card-info {
  height: 125px;
  position: relative;
  padding: 30px 10px 15px 10px;
}
/* line 243, main.scss */
.card-list .card .card-info .workplace-name {
  color: #ff6766;
  line-height: 20px;
  font-size: 1.2em;
  font-weight: 600;
  display: inline;
}
/* line 250, main.scss */
.card-list .card .card-info .score {
  font-size: 0.7em;
  color: #fff;
  width: 38px;
  line-height: 17px;
  background: #606060;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
  margin-top: 1%;
}
/* line 263, main.scss */
.card-list .card .card-info .location {
  font-size: 0.85em;
  line-height: 1.4em;
  color: #afafaf;
  padding-top: 10px;
}
/* line 270, main.scss */
.card-list .card .card-footer {
  background-color: #eaeaea;
  height: 55px;
  width: 100%;
}
/* line 274, main.scss */
.card-list .card .card-footer .price {
  font-size: 1.4em;
  color: #ff6766;
  font-weight: 600;
  padding: 20px 0 0 0;
}
